main{
    height: 658px;
    width: 100%;
    background-image: url('../../../assets/img/img2/libros-y-letras.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 360px;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 70px;
    box-shadow: 10px 10x 10px;
}

h2{
     color: black;
     font-size: 40px;
   

     display: flex;
     justify-content:center ;
     align-items: center;
     flex-direction: column;
}
 
b{
    color:black;
}

  