
 <div class="padre">
    <h1> Modificar libro</h1>
    <form class="hijo1">
      <div class="form-group">
        <input type="text" class="form-control" id="title" name="title" placeholder="Title" #title>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="author" name="author" placeholder="Author"  #type>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="type" name="type" placeholder="Type" #author>
      </div>
      <div class="form-group">
         <input type="number" class="form-control" id="price" name="price" placeholder="price"  #price>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="photo" name="photo" placeholder="Photo URL" #photo>
      </div>
       <div class="form-group">
        <input type="number" class="form-control" id="id_book" name="id_book" placeholder="id book"  #id_book>
       </div>
      <button type="reset" class="otaku btn btn-success text-center" (click)="update(title.value,type.value,author.value,price.value,photo.value,id_book.value)" >Modificar</button>
    </form>
  </div>  



