
<div class="card">
  <button type="button" class="close" aria-label="Close" (click)="removeCard()">
    <span aria-hidden="true">&times;</span>
  </button>
  <img class="card-img-top" [src]="book.photo" alt="Books cover">
  <div class="card-body">
    <p>Tapa blanda</p>
    <div class="line"></div>
    <h5 class="card-title">{{ book.title }}</h5>
    <p class="card-text">Author: {{ book.author }}</p>
    <p class="card-text">Type: {{ book.type }}</p>
    <p><small class="text-muted">{{ book.id_book | bookCode }}</small></p>
    <div class="drako">
      <p class="card-text1">Price: {{ book.price }} €</p>
      <button class="btn text-center" [ngClass]="{'btn-even': isEven(i), 'btn-odd': !isEven(i)}">
        Comprar
      </button>
    </div>
  </div>
</div>













<!-- 






      <div class="goku1 col-3">
        <div class="card ">
          <button type="button" class="close" aria-label="Close" (click)="removeCard()">
            <span aria-hidden="true">&times;</span>
          </button>
          <img class="card-img-top" [src]="book.photo" alt="Books cover">
          <div class="card-body">
            <p>Tapa blanda</p>
            <div class="line"></div>
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">Author: {{ book.author }}</p>
            <p class="card-text">Type: {{ book.type }}</p>
            <p> <small class="text-muted">{{ book.id_book | bookCode }}</small></p>
           <div class="drako ">
            <p class="card-text1">Price: {{ book.price}} € </p>
            <button class="btn text-center " [ngClass]="{'btn-even':isEven(i) , 'btn-odd': !isEven(i)}">Comprar</button>
           </div>
      </div>
    -->